<div>
    <h1>CART</h1>
    {{#each cart.products}}
    <div>
        <p>{{this.product.title}} - Quantity: {{this.quantity}}</p>
        <form method="POST" action="/api/carts/{{../cart._id}}/products/{{this.product._id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="deleteButton" data-cart="{{../cart._id}}"
                data-product="{{this.product._id}}">Remove from cart</button>
        </form>
        {{!-- Boton para volver a la vista products --}}
    </div>
    {{/each}}
    <br><br>
    <form action="/view/products-view" method="GET">
        <button type="submit">Volver a productos</button>
    </form>
    <a href="/auth/logout">Logout</a>
</div>

<script>
    document.querySelectorAll(".deleteButton").forEach(button => {
        button.addEventListener("click", function (event) {
            event.preventDefault();
            const cartId = this.dataset.cart;
            const productId = this.dataset.product;

            fetch(`/api/carts/${cartId}/products/${productId}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                    // Add any additional headers if required
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Failed to remove product from cart");
                    }
                    return response.json(); // If expecting a JSON response
                })
                .then(data => {
                    // Handle success response
                    console.log("Product removed from cart successfully", data);
                    // Optionally, you can update the UI to reflect the changes
                    button.closest('div').remove(); // Remove the parent div containing the button
                })
                .catch(error => {
                    // Handle error
                    console.error("Error removing product from cart:", error.message);
                });
        });
    });
</script>