<div>
    <h1>PRODUCTS</h1>
    <h2> Bienvenido {{user.user}}</h2>
    <p>Rol: {{user.role}}</p> 
    <p>Cart: {{user.cart}}</p>
    <a href="/carts/{{user.cart}}">Ir a carrito</a>
    <ul>
        {{#each products}}
        <li>
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
            <p>Price:{{this.price}}</p>
            <p>Id: {{this._id}}</p>
            <form action="/api/carts/{{../user.cart}}/products/{{this._id}}" method="POST">
                <button type="submit">Add to cart</button>
            </form>
        </li>
        {{/each}}
    </ul>
    
    <a href="/auth/logout">Logout</a>
</div>