<nav>
    <ul>
        <li><a href="/products">PRODUCTOS</a></li>
        <li><a href="/carts/{{user.cart}}">CARRITO</a></li>
        {{#if isAdmin}}
            <li><a href="/profile">PERFIL</a></li>
        {{/if}}
        <li><a href="/auth/logout">LOGOUT</a></li>
    </ul>
</nav>

<div class="product_page">
    <h2> Bienvenido {{user.user}}</h2>
    <ul class="product_list">
        {{#each products}}
        {{#if this.stock}}
        <li class="product">
            <p class="product_title">{{this.title}}</p>
            <p class="product_description">{{this.description}}</p>
            <p>Stock: {{this.stock}}</p>
            <p class="product_price">Price:{{this.price}}</p>
            <p>Owner: {{this.owner}}</p>
            <form action="/api/carts/{{../user.cart}}/products/{{this._id}}" method="POST">
                <button type="submit">Add to cart</button>
            </form>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>