<nav>
    <ul>
        <li><a href="/products">PRODUCTOS</a></li>
        <li><a href="/carts/{{cart}}">CARRITO</a></li>
        <li><a href="/profile">PERFIL</a></li>
        <li><a href="/auth/logout">LOGOUT</a></li>
    </ul>
</nav>

<div>
    <h1>Bienvenido {{user.user}}</h1>
    <h3>Role: {{user.role}}</h3>
</div>
<section>
    <h2>Eliminar productos</h2>
    <form action="/api/products/{{id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <select name="products">
            {{#each products}}
            <option value="{{_id}}">{{title}}</option>
            {{/each}}
        </select>
        <button type="submit" id="delete_product">Eliminar producto</button>
    </form>
</section>
<section>
    <h2>Agregar productos</h2>
    <form action="/api/products" method="POST">
        <input type="text" name="title" placeholder="Nombre del producto" required>
        <input type="text" name="description" placeholder="Descripción del producto" required>
        <select name="category" required>
            <option value="Monitores">Monitores</option>
            <option value="Periféricos">Periféricos</option>
            <option value="Procesadores">Procesadores</option>
            <option value="Memorias RAM">Memorias RAM</option>
            <option value="Almacenamiento">Almacenamiento</option>
            <option value="Placas de video">Placas de video</option>
            <option value="Laptops">Laptops</option>
        </select>
        <input type="text" name="price" placeholder="Precio del producto" required>
        <input type="text" name="code" placeholder="Codigo del producto" required>
        <input type="number" name="stock" placeholder="Stock del producto" required>
        <input type="text" name="thumbnail" placeholder="URL de la imagen">
        <input type="text" name="status" placeholder="Estado del producto">
        <button type="submit">Agregar producto</button>
    </form>
    <span>En rojo los obligatorios</span>
</section>
<section>
    <h2>Cambiar rol de usuario</h2>
    <form action="api/users/premium/{{user._id}}/" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <select name="role">
            {{#each roles}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}   
        </select>
        <button type="submit" id="change_role">Cambiar rol</button>
    </form>
    <span>Volver a logearse para que los cambios surgan efecto</span>
</section>

<script>
    let button = document.getElementById('delete_product')
    button.addEventListener("click", function (event) {
        event.preventDefault();
        const productId = document.querySelector('select[name="products"]').value;

        fetch(`/api/products/${productId}`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                window.location.reload();
            })
            .catch(error => {
                console.error("Error:", error);
            });
    });

    let buttonRole = document.getElementById('change_role')
    buttonRole.addEventListener("click", function (event) {
        event.preventDefault();
        const role = document.querySelector('select[name="role"]').value;

        fetch(`/api/users/premium/{{user._id}}/`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ role })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                window.location.reload();
            })
            .catch(error => {
                console.error("Error:", error);
            });
    });

</script>