<div>
    <h1>Felicidades por su compra</h1>
    <p>Este es su ticket de compra:</p>

    <ul>
        {{#each originalCart.products}}
        <li>
            Producto: {{this.product.title}} <br>
            Descripción: {{this.product.description}} <br>
            Categoría: {{this.product.category}} <br>
            Precio: ${{this.product.price}} <br>
            Cantidad: {{this.quantity}}
        </li>
        {{/each}}
    </ul>

    <a href="/products">Volver a productos</a>
</div>
